# Generate Student Targets

Target score calculation is performed through a calculator obtained from: https://aos98.files.wordpress.com/2016/11/asg-calculator-for-2015-norms.xlsx

This method calculates target scores for all grade levels 3 to 8, and all starting scores from 100 to 350. Starting weeks of instruction were set to 2, and weeks of instruction at time of winter assessment were set to 16. I do not have access to the exact assessment date for each student, so weeks of instruction was based of the date 1/9/2018, which is the midpoint in the CPS district winter assessment window (12/11/2017 - 01/26/2018). Students do not take a fall assessment unless they have no prior year spring assessment on record. Regardless of actual baseline assessment date, performance will be assessed on the targets calculated here.

In [ ]:
import pandas as pd
import time
import xlwings as xw

In [ ]:
wb = xw.Book('privatedata/ASG Calculator for 2015 Norms.xlsx')
sht = wb.sheets['ASG_Calculator']

In [ ]:
# only calc for Elem students. HS do not take assessment.
grade_levels = ['3rd', '4th', '5th', '6th', '7th', '8th']

In [ ]:
sht.range('F14').value = 2
sht.range('G14').value = 16

d = []
for subject in ['Reading', 'Mathematics']:
    sht.range('C10').value = subject
    for grade in grade_levels:
        sht.range('F10').value = grade
        for score in range(100, 351):
            sht.range('F15').value = score
            time.sleep(.33)
            growth = sht.range('F26').value
            growth_sd = sht.range('F27').value
            d.append([subject, grade[:-2], score, growth, growth_sd])

df = pd.DataFrame(d, columns=['Subject', 'Grade', 'Score', 'Growth', 'Growth_SD'])

df.to_csv('privatedata/assessment_targets_fall_to_winter.csv', index=False)

In [17]:
df.head()

   Subject Grade  Score     Growth  Growth_SD
0  Reading     3    100  16.204618   5.281536
1  Reading     3    101  16.099158   5.281536
2  Reading     3    102  15.993698   5.281536
3  Reading     3    103  15.888239   5.281536
4  Reading     3    104  15.782779   5.281536