In [4]:
import pandas as pd
from simple_salesforce import Salesforce

with open('C:\\Users\\City_Year\\Desktop\\salesforce_credentials.txt', 'r') as f:
    read_data = f.read()
    sf_creds = eval(read_data)

cysh = Salesforce(instance_url=sf_creds['instance_url'],
                  password=sf_creds['password'],
                  username=sf_creds['username'],
                  security_token=sf_creds['security_token'])

In [11]:
querystring = (f"SELECT Id, Name FROM Assesment__c")
query_return = cysh.query_all(querystring)

In [19]:
querystring = (f"SELECT Id, Name FROM Assesment__c")
query_return = cysh.query_all(querystring)

In [23]:
type(query_return)

collections.OrderedDict

In [24]:
query_return.keys()

odict_keys(['totalSize', 'done', 'records'])

In [25]:
len(query_return['records'])

16658

In [20]:
def get_cysh_df(sf_object, sf_fields, rename_id=False, rename_name=False, sf=cysh):
    sf_fields_str = ", ".join(sf_fields)
    querystring = (f"SELECT {sf_fields_str} FROM {sf_object}")
    query_return = sf.query_all(querystring)

    query_list = []
    for row in query_return['records']:
        record = []
        for column in sf_fields:
            col_data = row[column]
            record.append(col_data)
        query_list.append(record)
    
    df = pd.DataFrame(query_list, columns=sf_fields)
    
    if rename_id==True:
        df.rename(columns={'Id':sf_object}, inplace=True)
    if rename_name==True:
        df.rename(columns={'Name':(sf_object+'_Name')}, inplace=True)

    return df

In [22]:
assessment_df = get_cysh_df('Assesment__c', ['Id', 'Name'])
assessment_df.head()

                   Id             Name
0  a041a00000E9Y3xAAF  a041a00000E9Y3x
1  a041a00000EmNs0AAF  a041a00000EmNs0
2  a041a00000EmOf8AAF  a041a00000EmOf8
3  a041a00000FV7AaAAL  a041a00000FV7Aa
4  a041a00000FVLdgAAH  a041a00000FVLdg